@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>


<img src="~/images/mainReadMeTitle.png" />

<br/>
<div class="container">
    <img class="mt-lg-3" src="~/images/kpTraining.png" alt="" />
</div>
