@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    875 Union St NE<br />
    Salem, OR 97311<br />
    <abbr title="Phone">P:</abbr>
    (877) 345-3484
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@oed.com">Support@oed.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>
